name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  docker-build-and-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker image (local)
        run: docker build -t weather-erlangen-zuerich:ci .

      - name: Run container (show weather output)
        run: docker run --rm weather-erlangen-zuerich:ci
